<div class="sw" id="back" style="background-color: rgb(64, 133, 194);"></div>
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold" style="font-family: 'Montagu Slab', serif;
    font-family: 'Praise', cursive;">박주형 홈페이지</h1>
    <p>주형이의 홈페이지에 온걸 환영합니다.</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
    Register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
    Login
    </button>
    </div>
    
    
    <div class="container">
        <div class="row text-center">
        <div class="col">
        <div class="card" style="width: 18rem background-image = url(git.png) ">
        <div class="card-body" id = "card1" >
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"><br><br><br><br><br></p>
        <a href="https://www.instagram.com/jo_ohyung/" class="card-link" style="font-family: 'Montagu Slab', serif;
        font-family: 'Praise', cursive;">인스타그램</a>
        </div>
        </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem">
        <div class="card-body" id="card2">
        <h5 class="card-title"> </h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"><br><br><br><br><br></p>
        <a href="https://github.com/Joohy2" class="card-link">git hub 들어가기</a>
        
        </div>
        </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem">
        <div class="card-body" id="card3">
        <h5 class="card-title"> </h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"><br><br><br><br><br>
        </p>
        <a href="https://drive.google.com/file/d/187ubhbk8U2Cl4TiP7SY8aAhhG6JYs5Qs/view?usp=sharing" class="card-link">앱다운로드 주소</a>
        <a href="#" class="card-link">팀프로젝트</a>
        
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@600&family=Praise&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@600&family=Praise&display=swap');
    </style>

       