<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">QR</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"><i class="bi bi-house"></i></a>
          </li>
          <li *ngif="checkLoggedIn()"class="nav-item">
            <a class="nav-link" routerLink="/profile"><i class="bi bi-apple"></i>프로필</a>
          </li>
          <li *ngif="checkLoggedIn()"class="nav-item">
            <a class="nav-link" routerLink="/dashboard"><i class="bi bi-app"></i>대시보드</a>
          </li>

          <li *ngIf="checkLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/list"><i class="bi bi-list-check"></i></a>
            </li>
            <li *ngIf="checkLoggedIn()" class="nav-item">
              <a class="nav-link" routerLink="/cert"><i class="bi bi-award-fill"></i>인증서발급</a>
              </li>

              <li *ngIf="checkLoggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/qrgen">
                <i class="bi bi-qr-code"></i> 로그인용QR생성</a>
                </li>
                
            
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngif="!checkLoggedIn()"class="nav-item">
            <a class="nav-link" routerLink="/login">로그인</a>
          </li>
          <li *ngif="!checkLoggedIn()"class="nav-item">
            <a class="nav-link" routerLink="/register">사용자등록</a>
          </li>
          <li  *ngif="checkLoggedIn()"class="nav-item">
            <a class="nav-link" (click)="onLogoutClick()" href="#"> 로그아웃</a>
            </li>
            </ul>
      </div>
    </div>
  </nav>